html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
  background-image: url('farm.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.glass{
margin-top: 7%;  
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
height: auto;
margin-left: 20px;
margin-right: 20px;
-webkit-backdrop-filter: blur( 20px );
border-radius: 15px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
text-align:justify;

}



.nine h1 
{
  text-align:center;
 	font-size:50px; 
	text-transform:uppercase; 
	background-color:darkgreen; 
	color:white;
	letter-spacing:1px;
  font-family:"Playfair Display", serif; 
	font-weight:900;
	padding-top: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.nine h1 span 
{
  	margin-top: 5px;
    font-size:20px; 
	color:white;
	word-spacing:1px; 
	font-weight:normal; 
	letter-spacing:2px;
    text-transform: uppercase; 
	font-family:"Raleway", sans-serif; 
	font-weight:1000;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    height: 5px;
    background-color:whitesmoke;
	
}



#content
{
  padding: 0% 2%;
}



.final
{
  max-width: 70%;
  float: left;
}



@media (max-width:600px) {
  .final
  {
    max-width:100%;
  }
}